# Getting Started Documentation

In [1]:
from analyticsdf.analyticsdataframe import AnalyticsDataframe

In [6]:
ad = AnalyticsDataframe(1000, 6)

In [7]:
ad.predictor_matrix.head()

   X1  X2  X3  X4  X5  X6
0 NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN

In [8]:
for var in ['X1', 'X2', 'X3', 'X4', 'X5']:
        ad.update_predictor_uniform(var, 0, 100)
ad.update_predictor_categorical('X6', ["Red", "Yellow", "Blue"], [0.3, 0.4, 0.3])
ad.predictor_matrix.head()

          X1         X2         X3         X4         X5      X6
0  26.081890  83.781364  89.579137  38.894186   1.812397     Red
1  20.692951  33.470647   8.949383  14.061169  11.608949     Red
2  30.988838  78.222649  56.989609  67.968118  85.892929    Blue
3  31.618506  44.145061  92.702928  32.501096  69.878522     Red
4   1.114776   6.273714  74.793501   1.302500  99.734137  Yellow